.td-info {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.box.box-solid.box-default.collapsed-box-student {
    padding: 0;
    background-color: transparent;
    border: 0;
    box-shadow: 0 0;
}

.box.box-solid.box-default > .box-header.header-info-student {
    padding: 0;
    background-color: transparent;
    border: 0;
}

.box-body.box-body-student-collapsed {
    display: none;
    padding: 0;
}

.small-box.student-info-box {
    color:black;
    margin-top:30px
}

.info-box-icon.student-points-display {
    height: 90px;
    width: 70px;
    line-height: 0px;
}

.info-box-icon.student-date-show-display {
    height: 90px;
    width: 110px;
    line-height: 45px;
    font-size: 19px;
    float: right;
}

.span-teacher {
    font-size: 16px;
    font-weight: inherit;
    text-align: left;
    text-overflow: ellipsis;
    white-space:nowrap;
    overflow: hidden;
    line-height: 18px;
}

.small-box-footer.student-date-show-display {
    font-size: 19px;
    background: rgba(0, 0, 0, 0.2);
    display: none;
}

@media (max-width: 467px) {
    .info-box-icon.student-date-show-display { display: none;}
    .small-box-footer.student-date-show-display { display: block; }
    .small-box-footer.student-date-show-display > span:first-child { margin-right: 33%}
}

.tooltip-hide.white{
    color: white;
}

.shadowed {
    background-color: rgba(0, 0, 0, 0);
}

p.student-points {
    font-size:21px;
    margin-bottom: 0;
    margin-top: 0;
    line-height: 42px;
    font-weight: bold;
}

p.student-points-max {
    font-size: 21px;
    margin-top: 3px;
    line-height: 42px;
    font-weight: bold
}

.student-of {
    padding-bottom: 0;
    padding-top: 0;
    margin-top: 0;
    line-height: 3px;
    margin-bottom: 0;
}

.shadowed:hover {
    background-color: rgba(0,0,0,0.2);
}

.box-bottom-line-green {
    border-bottom: 3px solid #00a65a;
}

.box-bottom-line-red {
    border-bottom: 3px solid #dd4b39;
}

.box-bottom-line-yellow {
    border-bottom: 3px solid #f39c12;
}

.box.box-solid.box-default > .box-header a {
    color: inherit;
}
